version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-net

  frontend:
    image: lab1-frontend:latest
    build: ./frontend
    ports:
      - "5000:5000"
    depends_on:
      - redis
    networks:
      - app-net

networks:
  app-net:
    driver: overlay